.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #09d3ac;
}


#root > div > div > div > div > div.col-lg-3 > div > div > div > button:nth-child(7)
{
    display: none;
}

.list-group-item-action:focus, .list-group-item-action:hover{
    background: transparent !important;
}
