.main-body {
    display: flex;
    flex-direction: column;
    background-color: #11171d;
    min-height: 80rem;
}

.body {
    display: flex;
    flex-direction: column;
}

.inner-body {
    display: flex;
    flex-direction: row;
}

.owner-body {
    display: flex;
    flex-direction: column;
    width: 566px;
    height: 100px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    margin-left: 0rem;
    margin-bottom: 0.1rem;
}

.list-body {
    marginLeft: "auto";
    margin-top: 7px;
    width: 566px;
    height: 38px;
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.6px;
    color: black;
}

.onwer-body:hover {
    background-color: #11171d;
    border: #ffffff;
}

.picture {
    margin-left: 24px;
    margin-top: 17px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
}

.name {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    margin-top: 19px;
    min-width: 85px;
    height: 17px;
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.6px;
    color: #ffffff;
}

.handle {
    margin-left: 10px;
    margin-top: 19px;
    min-width: 128px;
    height: 16px;
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.6px;
    color: #75797d;
}

.tweet {
    margin-left: 15px;
    /* margin-top: 7px; */
    width: 445px;
    height: 88px;
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.6px;
    color: #ffffff;
}

/* .title {
  margin-left: 15px;
  margin-top: 7px;
  width: 445px;
  height: 88px;
  font-family: HelveticaNeue;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.6px;
  color: #ffffff;
} */


/* #root {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

$blue_theme: #70a1ff;
//Root Container
.root-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */


.box-controller {
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* max-width: 24em;
    min-width: 21em;
    height: 35px; */
    -webkit-box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
    box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
    margin-bottom: 30px;
    align-items: center;
    transition: visibility 0.5s ease-out;
}

.controller {
    flex: 1;
    text-align: center;
    height: 100%;
    line-height: 2;
    cursor: pointer;
}

.selected-controller {
    transition: border 0.5s ease-out;
    border-bottom: 2px solid blue;
}
